body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }

#title {
    font-size: 24;
    font-weight: bold;
}
 
  .center-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: white;
    z-index: 1000;
  }

  .center-circle.no-blend {
    mix-blend-mode: normal;
    opacity: 0; 
  }

  
  .blend-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    padding: 10px 15px;
    font-size: 14px;
    color: black;
    border: 1px black ;
    border-radius: 50px;
    cursor: pointer;
  }
  .side-paragraph {
    position: fixed;
    top: 140px;
    left: 20px;
    transform: translateY(-50%);
    width: 350px;
    max-height: 80vh;
    overflow-y: auto;
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    z-index: 999; 
    pointer-events: none;
  }
  .side-paragraph.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  .scroll-container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    gap: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
  }

  .image-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .hover-text {
    width: 600px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 34px;
    padding: 10px;
    opacity: 0;
    text-align: center;
    z-index: 100000;
  }

  .image-container:hover .hover-text {
    opacity: 1;
  }

  .bottom-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 14px;
    text-align: center;
    width: 80%;
    opacity: 0;
    padding: 10px;
  }

  .image-container:hover .bottom-text {
    opacity: 1;
  }

  .scroll-container img {
    height: 100vh;
    width: auto;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 8px;
  }

  .scroll-container video {
    height: 80vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }

  #setup {
    width: 30%;
    height: auto;
    border-radius: 0;
  }